/* Auth.css */
.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 150%;
  background-color: white;
}

.auth-container {
  display: flex;
  max-width: 900px;
  width: 100%;
  background: white;
  border-radius: 28px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
  overflow: hidden;
}

/* Left side with image */
.auth-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: white;
}

.auth-image img {
  max-width: 100%;
  height: auto;
}

/* Right side with form */
.auth-form-container {
  flex: 1;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin-left: 10%;
}

.auth-form-container h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}


.auth-options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  border-radius: 20px;
}

.auth-option {
  width: 48%;
  padding: 0.6rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.auth-option.google {
  background-color: #db4437;
  color: white;
}

.auth-option.facebook {
  background-color: #4267B2;
  color: white;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.auth-form input {
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.auth-submit {
  padding: 0.8rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 1rem;
}

.terms, .login-link {
  font-size: 0.8rem;
  color: #666;
  margin-top: 1rem;
  text-align: center;
}

.terms a, .login-link a {
  color: #333;
  text-decoration: underline;
}
